#ilTopNav {
    margin: -47px 0 0 0;
    &.navbar {
        float: left;
        margin-right: 15px;
        margin-left: 75px;
        height: 45px;
        > .navbar-collapse {
            padding: 0 0 0 15px;
        }
    }
    .navbar-nav > li > a {
        border-top: none;  
        text-transform: inherit;
    }
    .navbar-nav > .active > a,
    .navbar-nav > .open > a {
        border-top: none;
        &:hover,
        &:active,
        &:focus {
            border-top: none;
        }
    }
}
.ilMainHeader > header > .row > a.navbar-brand {
    margin: 25px 15px 0;
    > img {
        height: 30px;
        width: auto;
    }
}
.navbar-nav > li > .dropdown-menu {
    margin-top: 14px;
}
#ilTopBar{
    &.ilTopBar {
        height: 45px;
    }
    .ilTopTitle {
        padding: 2px 0 0 15px;
    }
}
