<tr class="{CSS_ROW} small cd-trainer-small">
<!-- BEGIN cb -->
<td class="std">
	<input type="checkbox" name="id[]" value="{ID}" />
</td>
<!-- END cb -->
	<td class="std cd-name-trainer">
		{NAME}
	</td>
	<td class="std">
		{CREATE_DATE}
	</td>
<!-- <td class="std">
{LOGIN}
</td> -->
<td class="std">
{ZIPCODE}
</td>
<td class="std">
{CITY}
</td>
<td class="std">
{MOTHER_TONGUES}
</td>
<td class="std">
{INSTRUCTION_LANGUAGES}
</td>
<td class="std">
{SEL_COUNTRY}
</td>
<!-- <td class="std">
{ENTRY_DATE}
</td> -->
<td class="std">
{FEE}
</td>
<td class="std">
<div class="cd-in-lang-trainer">
<!-- BEGIN tl --><div style="white-space:nowrap;padding:.1em;">{TECHNICAL_LANGUAGE} ({AMOUNT})</div><!-- END tl -->
</div>
</td>

<td class="std">
<div class="cd-active-center">{CENTER}</div>
</td>
<td class="std">
<div class="cd-active-trainer">{ACTIVE}</div>
</td>
<td class="std active">
<!-- BEGIN cmd --><div class="cd-option-trainer"><a href="{HREF_CMD}">{CMD}</a></div><!-- END cmd -->
</td>


</tr>
