//pathes
@delospath:	"../../../../templates/default/";

//import delos
//@import "@{delospath}delos.less";

@icon-font-path: "../../../../Services/UICore/lib/bootstrap-3.2.0/fonts/";
@background-images-path: "images/";
@web-font-path: "../../../../templates/default/fonts/";

// make changes here...