<tr class="{CSS_ROW}" style="small">
	<td class="std">
		<input type="checkbox" name="items[]" value="{REF_ID}" />
	</td>
	<td style="padding: 8px" class="std">
		<!-- BEGIN obj_icon -->
		<!-- BEGIN padding --><div style="padding-left: 22px"><!-- END padding -->
		<img src="{TREE_IMG}" style="vertical-align:middle;" alt="{TREE_ALT_IMG}" title="{TREE_ALT_IMG}" border="0" vspace="0" />&nbsp;{TREE_TITLE}
		<!-- BEGIN end_padding --></div><!-- END end_padding -->
		<!-- END obj_icon -->
	</td>

<tr>