#ilFooter{
	display:none;
	page-break-after:always;
}

div#minheight{
	height:0px !important;
}

.ilAccHideContent{ 
	width: inherit; 
	height: inherit; 
	display: block;
}

img, .ilc_media_cont_MediaContainer, .mejs-container, .ilProfile{
	page-break-inside: avoid !important;
}

.ilPosterFakePlayer{
	position: relative;
	page-break-inside: avoid;
	background-size: 100% auto;
	background: center top no-repeat;
	max-width: 860px;
}

.ilFakePlayer{
	position: relative;
	background-color: black;
	page-break-inside: avoid;
}

.ilFakePlayer, .ilPosterFakePlayer .ilFakePlayerPlay{
	background: url('images/play_one.svg') center center no-repeat;
	width: 100%;
	height: 100%;
}

.ilPosterFakePlayer .ilFakePlayerText{
	color:white;
	background-color: darkslategrey;
	width: 100%;
	height: 40px;
	text-align: center;
	position: absolute;
	bottom: 20px;
}

.il_HeaderInner, .media-heading.ilHeader{
	padding-top: 0px !important;
}

#mainspacekeeper > .row {
	margin-top: 0px !important;
}