<!DOCTYPE html>
<html lang="en" dir="{LANGUAGE_DIRECTION}">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>{WINDOW_TITLE} {PAGETITLE}</title>
	<!-- BEGIN mh_meta_item -->
	<meta name="{MH_META_NAME}" lang="{MH_META_LANG}" content="{MH_META_CONTENT}" />
	<!-- END mh_meta_item -->
    <!-- BEGIN HeadBaseTag -->
    <!-- set to ilias root for pages delivered by scripts in sub folders (e.g. WebAcessChecker -->
    <base href="{BASE}" />
    <!-- END HeadBaseTag -->
	<!-- BEGIN AdditionalStyle -->
	<link rel="stylesheet" type="text/css" href="{LOCATION_ADDITIONAL_STYLESHEET}" />
	<!-- END AdditionalStyle -->
	<!-- BEGIN generic_css -->
	<link rel="stylesheet" type="text/css" href="{LOCATION_GENERIC_STYLESHEET}" media="{MEDIA_GENERIC_STYLESHEET}" />
	<!-- END generic_css -->
	<!-- BEGIN SyntaxStyle -->
	<link rel="stylesheet" type="text/css" href="{LOCATION_SYNTAX_STYLESHEET}" />
	<!-- END SyntaxStyle -->
	<!-- BEGIN ChatStyle -->
	<link rel="stylesheet" type="text/css" href="{LOCATION_CHAT_STYLESHEET}" />
			{EXPIRES}
	<!-- END ChatStyle -->
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	
	<link rel="apple-touch-startup-image" href="./templates/default/images/logo/ilias_logo_startup_320x460.png" /><!-- Startup image -->
	<link rel="apple-touch-icon-precomposed" href="./templates/default/images/logo/ilias_logo_57x57-precomposed.png" /><!-- iphone -->
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="./templates/default/images/logo/ilias_logo_72x72-precomposed.png" /><!-- ipad -->
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="./templates/default/images/logo/ilias_logo_114x114-precomposed.png" /><!-- iphone retina -->
	
	<!-- BEGIN css_file -->
	<link rel="stylesheet" type="text/css" href="{CSS_FILE}" media="{CSS_MEDIA}" />
	<!-- END css_file -->
	<!-- BEGIN css_inline -->
	<style type="text/css">
		{CSS_INLINE}
	</style>
	<!-- END css_inline -->
	<link rel="stylesheet" type="text/css" href="{LOCATION_STYLESHEET}" />
	<!-- BEGIN ContentStyle -->
	<link rel="stylesheet" type="text/css" href="{LOCATION_CONTENT_STYLESHEET}" />
	<!-- END ContentStyle -->
	<!-- <link rel="P3Pv1" href="{LOCATION_P3PFILE}" /> -->
	{LOCATION_NEWCONTENT_STYLESHEET_TAG}
<!-- BEGIN HeadContent -->
{CONTENT_BLOCK}
<!-- END HeadContent -->
<!-- BEGIN CalendarJS -->
<style type="text/css">@import url({LOCATION_JAVASCRIPT_CALENDAR_STYLESHEET});</style>
<script type="text/javascript" src="{LOCATION_JAVASCRIPT_CALENDAR}"></script>
{CALENDAR_LANG_JAVASCRIPT}
<script type="text/javascript" src="{LOCATION_JAVASCRIPT_CALENDAR_SETUP}"></script>
<!-- END CalendarJS -->
	<!-- BEGIN js_file -->
	<script type="text/javascript" src="{JS_FILE}"></script><!-- END js_file -->
	{SESSION_REMINDER}
</head>
<body <!-- BEGIN body_class -->class="{BODY_CLASS}" <!-- END body_class --> {BODY_ATTRIBUTES}>
<!-- drag_zmove used, e.g. in learnin modules to drag layout borders -->
<div id="drag_zmove"></div>
<div id="ilAll">{CONTENT}</div>
<!-- BEGIN on_load_code -->
<script type="text/javascript">
il.Util.addOnLoad(function() {
<!-- BEGIN on_load_code_inner -->{OLCODE}
<!-- END on_load_code_inner -->
});
</script>
<!-- END on_load_code -->
<!-- uzk-patch: begin -->
<!-- BEGIN multiple_request_prevention -->
<div id="dialog_modal-general" title="{TXT_PLEASE_WAIT}" style="display: none;">
	<p><img src="{SRC_SPINNING_WHEEL}" alt="" style="vertical-align: middle; margin-right: 5px;" />{TXT_WAITING_INFORMATION}</p>
</div>
<div id="dialog_modal-search" title="{TXT_PLEASE_WAIT}" style="display: none;">
	<p><img src="{SRC_SPINNING_WHEEL}" alt="" style="vertical-align: middle; margin-right: 5px;" />{TXT_WAITING_INFORMATION_SEARCH}</p>
</div>
<script type="text/javascript">
	$(function() {
		var btn = $.fn.button.noConflict(); // reverts $.fn.button to jqueryui btn
		$.fn.btn = btn; // assigns bootstrap button functionality to $.fn.btn
		// Folder download
		$(".dropdown-menu a[href*='downloadFolder'], input.submit[name*='downloadExportFile']").live("click", function() {
			$("#dialog_modal-general").dialog({
				height:        140,
				width:         340,
				modal:         true,
				closeOnEscape: true,
				resizable:     false,
				draggable:     false,
				open: function() {
					$('button.ui-dialog-titlebar-close').attr("style", "display: block !important; color: black !important;");
					if ($.browser.webkit) {
						$('button.ui-dialog-titlebar-close').css("padding", 0);
					}
				},
				beforeClose: function() {
					$('button.ui-dialog-titlebar-close').attr("style", "display: none !important;");
				}
			});
		});

		// Member views in groups and courses
		var $context = $("ul#ilTab a, ul#ilSubTab a").filter(function () {
			return (
			$(this).attr("href").toLowerCase().indexOf("cmd=members&") !== -1 &&
			(
			$(this).attr("href").toLowerCase().indexOf("cmdclass=ilobjcoursegui") !== -1 ||
			$(this).attr("href").toLowerCase().indexOf("cmdclass=ilobjgroupgui") !== -1
			)
			) || (
			$(this).attr("href").toLowerCase().indexOf("cmd=show") !== -1 &&
			$(this).attr("href").toLowerCase().indexOf("cmdclass=ilcourseparticipantsgroupsgui") !== -1
			) ? true : false;
		});

		if ($context.size() > 0) {
			$([
				$("div.ilTableHeaderTitle a, div.ilTableOuter a, div.ilTableNav a").filter(function() {
					return $(this).hasClass("ilTableMenuItem") || $(this).hasClass("ilAccAnchor") ? false : true;
				}),
				$context
			]).each(function() {
				$(this).click(function() {
					showWaitbox("#dialog_modal-general");
				});
			});

			$("div#il_center_col form").filter(function() {
				return $(this).find("input.submit[name*='downloadExportFile']").size() == 0 ? true : false;
			}).on('submit', function () {
				showWaitbox("#dialog_modal-general");
			});
		}

		// Searchbox in header
		$("#mm_search_form").on('submit', function() {
			showWaitbox("#dialog_modal-search");
		});

		$("#il_search_toolbar").closest("form").on('submit', function() {
			showWaitbox("#dialog_modal-search");
		});

		function showWaitbox(selector) {
			$(selector).dialog({
				height: 140,
				width: 340,
				modal: true,
				closeOnEscape: false,
				resizable: false,
				draggable: false,
				open: function() {
					$('button.ui-dialog-titlebar-close').attr("style", "display: none !important;");
				},
				beforeClose: function() {
					return false;
				}
			});
		}
	});
</script>
<!-- END multiple_request_prevention -->
<!-- uzk-patch: end -->
</body>
</html>
