<style>
	.ilTinyMenuSection .dropdown {
		display:inline-block;
	}
	.ilTinyMenuSection .dropdown-menu .btn {
		border: 0;
	}
</style>
<div id="iltinymenu">
<div style="position:relative;">
<div id="iltinymenu_bd">
<div id="ilTinyMenuButtons">
	<div>
		{SPLIT_BUTTON}
		{SAVE_DROPDOWN}
		{CANCEL_BUTTON}
	</div>
</div>
<!-- BEGIN par_edit -->
<div class="ilTinyMenuSection">
	<p class="ilTinyInfo small">{TXT_PAR_FORMAT}</p>
	{STYLE_SELECTOR}
</div>
<!-- END par_edit -->
<div class="ilClearFloat"></div>
<!-- BEGIN section -->
<div class="ilTinyMenuSection">
	<p class="ilTinyInfo small">{TXT_SECTION}</p>
	<!-- BEGIN button -->{BUTTON}<!-- END button -->
</div>
<!-- END section -->
</div>
</div>
</div>
