.il-card {
	img{
		max-width: 100%;
		max-height: 100%;
		margin-left: auto;
		margin-right: auto;
		display:block;
	}
	padding: 0px;
	background-color: @il-primary-container-bg;

	> div.caption {
		background-color: @il-secondary-container-bg;
	}
	.caption{
		.card-title{
			overflow-wrap: break-word;
		}
		border-top: 1px solid @panel-inner-border;

		&:first-child{
			border-top: none;
		}
	}
}

.il-card-img {
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.col-md-1 > div.il-card > .il-card-img {
	height: 100px;
}
.col-md-2 > div.il-card > .il-card-img {
	height: 200px;
}
.col-md-3 > div.il-card > .il-card-img {
	height: 250px;
}
.col-md-4 > div.il-card > .il-card-img {
	height: 350px;
}
.col-md-6 > div.il-card > .il-card-img {
	height: 400px;
}
.col-md-12 > div.il-card > .il-card-img {
	height: 600px;
}

@media only screen and (max-width: @screen-sm-min)
{
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-6, .col-md-12 {
		> div.il-card > .il-card-img {
			height: 250px;
		}
	}
}

