<script type="text/javascript">

    function resizeTinyMce(e, framesetId, frameClass)
    {
      $('#'+framesetId+' .'+frameClass+' #manual_feedback_resize.mceResize').trigger('click');
      return true;
    }

    function changeQuestion(e)
    {
      $('#{ADDITIONALCMD_PARAMETER}').val('changeQuestion');

      $('#{CHANGEPASS_PARAMETER}').val(
        $('#passIndexSelect').val()
      );

      $('#{CHANGEQST_PARAMETER}').val(
        $('#questionIdSelect').val()
      );

      saveManualScoring();

      e.preventDefault();
      e.stopPropagation();
      return false;
    }

    function sendNotification(e)
    {
      $('#{ADDITIONALCMD_PARAMETER}').val('sendNotification');

      saveManualScoring();

      e.preventDefault();
      e.stopPropagation();
      return false;
    }

    function saveManualScoring()
    {
      $('#feedback_save_submit').trigger('click');
    }

    (function($){
      $(document).ready(function() {

        $('#changeQuestionBtn').click(changeQuestion);
        $('#sendNotificationBtn').click(sendNotification);

        $('#frameset_{ID} form.manual_scoring').submit(function(e){
          tinyMCE.triggerSave();
          return true;
        });

      });
    })(jQuery);

</script>