<div class="il-item il-std-item <!-- BEGIN color -->il-item-marker " style="border-color:{COLOR}<!-- END color -->">
	<!-- BEGIN lead_start -->
	<div class="row">
		<!-- BEGIN lead_width_default --><div class="col-sm3"><!-- END lead_width_default -->
		<!-- BEGIN lead_width_audio --><div class="col-md-6 col-lg-5"><!-- END lead_width_audio -->
			<!-- BEGIN lead_text -->{LEAD_TEXT}<!-- END lead_text -->
			<!-- BEGIN lead_image -->{LEAD_IMAGE}<!-- END lead_image -->
			<!-- BEGIN lead_audio -->{LEAD_AUDIO}<!-- END lead_audio -->
		</div>
		<!-- BEGIN content_width_default --><div class="col-sm-9"><!-- END content_width_default -->
		<!-- BEGIN content_width_audio --><div class="col-md-6 col-lg-7"><!-- END content_width_audio -->
	<!-- END lead_start -->
	<!-- BEGIN lead_start_icon -->
	<div class="media">
		<div class="media-left">
			<!-- BEGIN lead_icon -->{LEAD_ICON}<!-- END lead_icon -->
		</div>
		<div class="media-body">
			<!-- END lead_start_icon -->
			<div class="il-item-title">{TITLE}</div>
			{ACTIONS}
			<!-- BEGIN desc -->
			<div class="il-item-description">{DESC}</div><!-- END desc -->
			<!-- BEGIN properties -->
			<hr class="il-item-divider" />
			<!-- BEGIN property_row -->
			<div class="row">
				<div class="col-md-6">
					<div class="row">
						<div class="col-sm-5 col-lg-4 il-item-property-name">{PROP_NAME_A}</div>
						<div class="col-sm-7 col-lg-8 il-item-property-value il-multi-line-cap-3">{PROP_VAL_A}</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-sm-5 col-lg-4 il-item-property-name">{PROP_NAME_B}</div>
						<div class="col-sm-7 col-lg-8 il-item-property-value il-multi-line-cap-3">{PROP_VAL_B}</div>
					</div>
				</div>
			</div>
			<!-- END property_row -->
			<!-- END properties -->
			<!-- BEGIN lead_end -->
		</div>
	</div><!-- END lead_end -->
</div>