<!-- patch (whole file) videocast – Killing 22.07.2020 -->
<div class="il-mcst-videocast">
    <div id="{ID}"></div>
    <script>
    $(function () {
      il.VideoWidget.init('{ID}', '{TPL}');
      <!-- BEGIN loadfile -->il.VideoWidget.loadFile('{FID}', '{FILE}', false);<!-- END loadfile -->
    });
    </script>
    <div data-elementtype="item">{ITEM}</div>
</div>
<style>

    .il-mcst-videocast  div.ilFloatRight {
        padding-top: 5px;
    }
    .mcst-playing-time {
        padding: 0px 2px;
        float:right;
        margin-top: -1.6em;
        position: relative;
        background: black;
        color: white;
        right: 0.2em;
    }

    .mcst-completed-tag {
        padding: 0px 2px;
        float:right;
        margin-top: -1.6em;
        position: relative;
        background: green;
        color: white;
        right: 0.2em;
        display: none;
        white-space: nowrap;
        max-width: 95%;
        overflow: hidden;
    }

    .mcst-completed-preview .mcst-playing-time {
        display: none;
    }

    .mcst-completed-preview .mcst-completed-tag {
        display: block;
    }

    .mcst-completed-preview .mcst-playing-time {
        display: none;
    }


    .mcst-completed-preview img {
        filter: grayscale(100%);
    }
    #mcst_playlist > div.media {
        margin: 8px 0px;
        padding: 5px;
    }
    #mcst_playlist img {
        cursor: pointer;
    }
    .mcst-current {
        background-color: #fff6be;
    }
    #mcst_playlist .mcst-current img {
        cursor: default;
    }

    #mcst_playlist .btn-link {
        font-size: 14px;
    }
</style>