/*----------FILE UPLOAD----------*/
.ilFileUploadDropAlternative a.submit img {
    width: 20px;
}
/*----------ALERTS----------*/
.alert img {
    width: 16px;
}
#repmodtbl img {
    width: 32px;
}

/*----------REPOSITORY----------*/
.ilContainerListItemOuter > img {
    width: 35px;
}
tbody .std > img {
    width: 32px;
}
/*MEDIA POOL*/
.ilMepListRow img {
    width: auto !important;
}
