/*----------FILE UPLOAD----------*/
.ilFileUploadDropAlternative a.submit img {
    width: 20px;
}
/*----------ALERTS----------*/
/*STARTUP SCREEN*/
.alert img {
    width: 16px;
}
.ilStartupFrame .alert img {
    width: 16px;
}
/*----------ITEM GROUP----------*/
.ilContainerBlock img {
    width: 32px;
}
