/*----------ETHERPAD----------*/
.icon.xpdl.medium.outlined {
    display: none;
}

/*----------MEDIA GALLERY----------*/
.icon.xmg.medium.outlined {
    display: none;
}

/*----------IE BUGFIXES----------*/
.card-title .btn {
   word-break: break-all;
}
.il-card .caption .card-title {
   word-break: break-all;
}
.img-responsive,
.thumbnail > img,
.thumbnail a > img {
   display: inherit;
}
.il-card img {
    cursor: pointer;
}
.il-card .il-card-repository-head > div.il-card-repository-dropdown > .dropdown > button {
    background-color: transparent !important;
    border-color: white !important;
}
.il-card .il-card-repository-head > div.il-card-repository-dropdown > .dropdown > button:hover {
    background-color: transparent !important;
    border-color: white !important;
}
