/*----------ETHERPAD----------*/
.icon.xpdl.medium.outlined {
    display: none;
}

/*----------MEDIA GALLERY----------*/
.icon.xmg.medium.outlined {
    display: none;
}

/*----------IE BUGFIXES----------*/
.card-title .btn {
   word-break: break-all;
}
.il-card .caption .card-title {
   word-break: break-all;
}
.img-responsive, .thumbnail > img,
.thumbnail a > img {
   display: inherit;
   cursor: pointer;
}
